/evaluation/qasper/dataset/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/relevate.iml
/.idea/vcs.xml
/evaluation/scrolls/qasper/test.jsonl
/evaluation/scrolls/qasper/train.jsonl
/evaluation/scrolls/qasper/validation.jsonl
/evaluation/scrolls/qmsum/test.jsonl
/evaluation/scrolls/submission/submission/scrolls_predictions.csv
/evaluation/scrolls/submission/data/generated_predictions.json
/.idea/aws.xml
/.idea/csv-editor.xml
