/evaluation/qasper/dataset/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/relevate.iml
/.idea/vcs.xml
/evaluation/scrolls/qasper/test.jsonl
/evaluation/scrolls/qasper/train.jsonl
/evaluation/scrolls/qasper/validation.jsonl
/evaluation/scrolls/qmsum/test.jsonl
/evaluation/scrolls/submission/submission/scrolls_predictions.csv
/evaluation/scrolls/submission/data/generated_predictions.json
/.idea/aws.xml
/.idea/csv-editor.xml
/evaluation/qasper_grobid/dataset/
/evaluation/qasper_grobid/dataset_mmd/
/evaluation/scrolls/scrolls_qasper_grobid/
/evaluation/scrolls/scrolls_qasper_nougat/
/evaluation/scrolls/scrolls_qasper_pypdf/
/evaluation/scrolls/submission/data/
/evaluation/scrolls/scrolls_qasper_source/
